.rent-menu-section {
  margin: 0 auto;
  background-color: #232323;
  color: #fff;
}
.rent-menu-container {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 54px;
  display: block;
  //margin: 0 auto;

}

.rent-menu {
  min-width: 710px;
  padding-top: 18px;
  margin-left: 277px;
//   outline: 1px solid red;
}

.rent-menu > li {
  display: inline-block;
  position: relative;
  margin-right: 14px;
}
.rent-menu > li:last-child {
  margin-right: 0px;
}

.rent-menu > li > a {
  padding: 0 0;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Montserrat Regular", sans-serif;
}


.rent-menu > li > .active {
  color: #ff6800;
}

.rent-menu li a:hover {
  color: #ff6800;
}
.rent-submenu {
  position: absolute;

  padding-top: 25px;
  visibility: hidden;
  z-index: 5;
  width: 140px;
  min-height: 188px;
  border-radius: 0px 0px 5px 5px;
  background: #232323;
  opacity: 0;

  li {
    min-height: 40px;
    font-size: 12px;
    line-height: 20px;
    padding-left: 9.5px;
    padding-right: 9.5px;
  }
  li:hover {
    background: #e9ecef;
    mix-blend-mode: normal;
    opacity: 0.4;
  }
}
.rent-menu > li:hover .rent-submenu {
  visibility: visible;
  opacity: 1;
}
.rent-submenu li a {
  color: #fff;
  font-size: 13px;
  line-height: 36px;
  padding: 0 0;
  font-family: "Montserrat Regular", serif;
  letter-spacing: -1px;
}
.rent-submenu__item-wrapper {
  display: flex;
  justify-content: space-between;
}

.rentMenu__down:after {
  content: "\f107";
  margin-left: 10px;
  font-family: FontAwesome;
}

@import "__rent-Menu_tablet.scss";
@import "__rent-Menu-mobile.scss";