@media (max-width: $tablet) {
  .rent-menu-container {
    min-height: 54px;
  }

  .rent-menu {
    min-width: 710px;
    padding-top: 18px;
    margin-left: 69px;
    //   outline: 1px solid red;
  }
}
